Repository SummitRobotics/FRC2022, pull requests merged in 2022-01, with the labels that each got.

#9 Added Telem to PDP
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/devices/PCM.java
  src/main/java/frc/robot/devices/PDP.java
Labels: Devices

#7 PDP and PCM Devices
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/devices/PCM.java
  src/main/java/frc/robot/devices/PDP.java
Labels: Devices

#13 Added telem to drivetrain and devices
  .github/labeler.yml
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/devices/Lemonlight.java
  src/main/java/frc/robot/devices/LidarV3.java
  src/main/java/frc/robot/devices/LidarV4.java
  src/main/java/frc/robot/devices/PDP.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: Drivetrain, Devices, Subsystem

#15 Shooter subsystem
  .github/labeler.yml
  src/main/java/frc/robot/oi/drivers/ShuffleboardDriver.java
  src/main/java/frc/robot/subsystems/Shooter.java
  src/main/java/frc/robot/utilities/lists/Ports.java
Labels: OI, Utilities, Subsystem, Shooter

#18 Added telem to shooter
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Shooter.java
Labels: Subsystem, Shooter

#17 Added Conveyor Subsystem
  .github/labeler.yml
  src/main/java/frc/robot/devices/PDP.java
  src/main/java/frc/robot/subsystems/Conveyor.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/utilities/lists/Ports.java
Labels: Drivetrain, Devices, Utilities, Subsystem, Conveyor

#22 Update Shooter.java
  src/main/java/frc/robot/subsystems/Shooter.java
Labels: Subsystem, Shooter

#23 Javadocs now required on all public methods.
  .github/linters/linter.xml
  src/main/java/frc/robot/Main.java
  src/main/java/frc/robot/commands/homing/HomeByCurrent.java
  src/main/java/frc/robot/commands/homing/HomeByEncoder.java
  src/main/java/frc/robot/devices/PCM.java
  src/main/java/frc/robot/oi/Konami.java
  src/main/java/frc/robot/oi/drivers/GenericDriver.java
  src/main/java/frc/robot/oi/inputs/LEDButton.java
  src/main/java/frc/robot/oi/inputs/OIAxis.java
  src/main/java/frc/robot/oi/inputs/ShuffleboardLEDButton.java
  src/main/java/frc/robot/oi/shuffleboardwidgets/StatusDisplayWidget.java
  src/main/java/frc/robot/subsystems/Conveyor.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/utilities/SimpleButton.java
Labels: Drivetrain, Devices, OI, Utilities, Command, Subsystem, Conveyor

#20 Intake Subsystem
  src/main/java/frc/robot/subsystems/Intake.java
  src/main/java/frc/robot/utilities/lists/Ports.java
Labels: Utilities, Subsystem

#24 Merge climb_subsystem into manual_overrides
  .github/labeler.yml
  src/main/java/frc/robot/subsystems/Climb.java
  src/main/java/frc/robot/utilities/lists/Ports.java
Labels: Utilities, Subsystem, Climb

#19 Added rate limiters to Shooter and Conveyor
  src/main/java/frc/robot/subsystems/Conveyor.java
  src/main/java/frc/robot/subsystems/Shooter.java
Labels: Subsystem, Shooter, Conveyor

#21 Merge Climb subsystem into main branch.
  .github/labeler.yml
  src/main/java/frc/robot/subsystems/Climb.java
  src/main/java/frc/robot/utilities/lists/Ports.java
Labels: Utilities, Subsystem, Climb

#27 Axis and Button Prioritizaion
  src/main/java/frc/robot/oi/inputs/OIAxis.java
  src/main/java/frc/robot/oi/inputs/OIButton.java
  src/main/java/frc/robot/utilities/MOCommand.java
  src/main/java/frc/robot/utilities/Usable.java
Labels: OI, Utilities, Climb

#26 Color Sensor Device
  src/main/java/frc/robot/devices/ColorSensor.java
Labels: Devices

#25 Manual Overrides and Climber Bug Fix
  src/main/java/frc/robot/commands/climb/ClimbMO.java
  src/main/java/frc/robot/commands/conveyor/ConveyorMO.java
  src/main/java/frc/robot/commands/intake/IntakeMO.java
  src/main/java/frc/robot/commands/shooter/ShooterMO.java
  src/main/java/frc/robot/subsystems/Climb.java
  src/main/java/frc/robot/subsystems/Shooter.java
  src/main/java/frc/robot/utilities/lists/AxisPriorities.java
Labels: Utilities, Command, Subsystem, Shooter, Conveyor, Climb
